* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    scroll-behavior: smooth !important;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("images/background/background.png");
    /* background: #0d0d0d;  */
    /* background: -webkit-linear-gradient(to bottom, #000000 70%, #1b1a1a);   */
    /* background: linear-gradient(to bottom, #000000 70%, #1b1a1a);  */
}

section {
    height: 90vh;
    padding: 40px 0;
    padding-left: 85px;
    padding-right: 53.175px;
    margin-top: 2rem;
    background: url("images/background/background.png");
}

/* Section#1 */

.main img {
    width: 38%;
    border-radius: 10%;
    cursor: pointer;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 93%;
    margin: auto;
    padding: 20px 0px;
}

nav div.image_container {
    width: 50%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover {
    color: red;
}

section#home {
    margin-left: 85px;
    margin-top: 15rem;
    height: 50vh;
    padding: 0;
    background: none;
}

section#home h1 {
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
}

span.red {
    color: red;
}

section#home p {
    color: wheat;
    line-height: 22px;
    font-size: 20px;
    font-family: monospace;
}

span.typing-container {
    display: inline-block;
}

.typed {
    overflow: hidden;
    color: wheat;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) forwards, blinking 1s 3.5;
    border-right: 10px solid black;
}

.typed_2 {
    overflow: hidden;
    color: wheat;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) 5s forwards, blinking 1s infinite 4.5s;
    border-right: 10px solid black;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blinking {
    0% {
        border-right-color: transparent
    }

    50% {
        border-right-color: whitesmoke
    }

    100% {
        border-right-color: transparent
    }
}

a.red_button {
    background: red;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: inline-block;
    margin: 30px 0;
    border-radius: 6px;
    border: red solid;
    transition: 0.4s;
}

a.red_button:hover {
    background-color: whitesmoke;
    color: red;
    /* background-color: #ff7878; */
}

.git_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button_container {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
}

a.git {
    background: #333;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: inline-block;
    margin: 30px 0;
    border-radius: 6px;
    transition: 0.4s;
}

a.git:hover {
    background-color: #5a5a5a;
    /* color: #333; */
}

section#home .image_container {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

section#home .image_container img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

section#home img.bitmoji {
    width: 80%;
    margin-left: 20%;
}

section#home .image_container:hover .shape {
    bottom: 40px;
}

section#home .image_container:hover .bitmoji {
    left: 45%
}


/* Section#2 */

#profile_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 15%;
    border-radius: 50%;
    border: 5px solid red;
}

.hover_effect {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover_effect:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    /* filter: grayscale(99%); */
}

.flex_box {
    transition: 1s;
    border-radius: 3%;
}

.flex_box:hover {
    transform: scale(1.05);
    background-color: #ffffff1e;
    padding: 10px;
    border-radius: 3%;
}

section#about div.flex_box {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

section#about div.about_text {
    border-right: rgb(75, 75, 75) solid 1px;
    padding-right: 20px;
    width: 42rem;
}

section#about div.info {
    padding-left: 20px;
    width: 42rem;
}

.about_heading {
    color: whitesmoke;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.about_subheading {
    color: whitesmoke;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.about_data,
section#about em {
    color: rgb(241, 188, 255);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 20px;
}

section#about .prime_container {
    margin-top: 55px;
}

.flex_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.key {
    width: 200px;
    color: rgb(241, 188, 255);
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

.value {
    margin-left: 15px;
    color: wheat;
    letter-spacing: 1px;
    font-size: 16px;
}

/* Section#3 */

section#skills{
    /* -webkit-filter: hue-rotate(60deg);
    filter: hue-rotate(54deg); */
    background: url("images/background/Background_yellow.png");
}

section#skills .about_heading {
    background: linear-gradient(to right, #cf8b02, #b3af70, #b98109, #FBF5B7, #95620b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 75px;
    letter-spacing: 5px;
}

section#skills .skills_content {
    margin-top: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

section#skills .flex_container {
    flex-direction: column;
    padding: 20px;
    /* border-right: rgb(75, 75, 75) solid 1px; */
}

/* div.vertical {
    border-left: 1px solid wheat;
    height: 200px;
    position: absolute;
    left: 50%;
} */

section#skills img {
    height: 10vh;
    width: 10vh;
    margin-bottom: 7vh;
}

section#skills .about_subheading {
    font-size: 27px;
    color: #ffb43c;
}

section#skills .about_data {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 0;
}

section#skills ul li {
    list-style: none;
    text-align: center;
    margin: 8px 0;
    color: #fff89d
}

/* Section#5 */

section#contact{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#contact .flex_container{
    flex-direction: column;
}

section#contact img#profile_img{
    margin-bottom: 26px;
    width: 7%;
    border: 3px solid gray;
}

section#contact p {
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

section#contact .about_subheading{
    font-size: 30px;
    text-transform: lowercase;
    letter-spacing: 5px;
    text-decoration: none;
}

section#contact .about_subheading:hover{
    color: red;
    text-decoration: underline;
}

section#contact .social{
    width: 30%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section#contact .social img{
    height: 40px;
    width: 40px;
    aspect-ratio: 1/1;
}

section#contact .social .hover_effect:hover{
    filter: opacity(0.6);
}

footer{
    font-size: 12px;
    text-align: center;
    padding: 30px;
}