*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    scroll-behavior: smooth !important;
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("images/background.png");
    /* background: #0d0d0d;  */
    /* background: -webkit-linear-gradient(to bottom, #000000 70%, #1b1a1a);   */
    /* background: linear-gradient(to bottom, #000000 70%, #1b1a1a);  */
}

section{
    height: 100vh;
}

/* Section#1 */

.main img{
    width: 38%;
    border-radius: 10%;
    cursor: pointer;
}

.main{
    position: relative;
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 93%;
    margin: auto;
    padding: 20px 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
}

nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav ul li a:hover{
    color: red;
}

section#home {
    margin-left: 85px;
    margin-top: 15rem;
    height: 50vh;
}

section#home h1{
    font-size: 50px;
    margin-bottom: 30px;
    color: whitesmoke;
}

span.red{
    color: red;
}

section#home p{
    color: wheat;
    line-height: 22px;
    font-size: 20px;
    font-family: monospace;
}

span.typing-container{
    display: inline-block;
}

.typed{
    overflow: hidden;
    color: wheat;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) forwards, blinking 1s 3.5;
    border-right: 10px solid black;
}

.typed_2{
    overflow: hidden;
    color: wheat;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(30, end) 5s forwards, blinking 1s infinite 4.5s;
    border-right: 10px solid black;
}

@keyframes typing {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: whitesmoke}
    100% {border-right-color: transparent}
}

a.red_button{
    background: red;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: inline-block;
    margin: 30px 0;
    border-radius: 6px;
    border: red solid;
    transition: 0.4s;
}

a.red_button:hover{
    background-color: whitesmoke;
    color: red;
    /* background-color: #ff7878; */
}

.git_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button_container{
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: space-between;
}

a.git{
    background: #333;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: inline-block;
    margin: 30px 0;
    border-radius: 6px;
    transition: 0.4s;
}

a.git:hover{
    background-color: #5a5a5a;
    /* color: #333; */
}

.image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.image img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

img.bitmoji{
    width: 80%;
    margin-left: 20%;
}

.image:hover .shape{
    bottom: 40px;
}

.image:hover .bitmoji{
    left:45%
}


/* Section#2 */

#profile_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 15%;
    border-radius: 50%;
    border: 5px solid red;
}

section#about{
    /* width: 100%; */
    height: 90vh;
    padding: 40px 0;
    padding-left: 85px;
    padding-right: 53.175px;
    margin-top: 2rem;
    background: url("images/background.png");
}

section#about div.flex_box{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section#about div.about_text{
    border-right: rgb(75, 75, 75) solid 1px;
    padding-right: 20px;
    width: 42rem;
}

section#about div.info{
    padding-left: 20px;
    width: 42rem;
}

div.about_text h2{
    color: whitesmoke;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

div.about_text h5{
    color: whitesmoke;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

div.about_text p{
    color: rgb(241, 188, 255);
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 16px;
    margin-bottom: 20px;
}