* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth !important;
}

body {
    height: 100%;
    margin: 0 25px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("../images/background/background.png");
    /* background: #0d0d0d;  */
    /* background: -webkit-linear-gradient(to bottom, #000000 70%, #1b1a1a);   */
    /* background: linear-gradient(to bottom, #000000 70%, #1b1a1a);  */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    color: whitesmoke;
    font-size: 30px;
    text-transform: capitalize;
    margin: 15px;
    background: linear-gradient(to right, #cf8b02, #b3af70, #b98109, #FBF5B7, #95620b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    letter-spacing: 5px;
}

header h1 {
    border: 1px solid #cf8b02;
    width: fit-content;
    padding: 7px 100px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.cover_image {
    object-fit: scale-down;
}

.parentSlide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mySlides {
    display: none;
    height: 502px;
    border: 1px solid white;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;
    height: 500px;
    z-index: -1;
    position: absolute;
    filter: blur(10px);
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    right: 73.3%;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 24%;
    border-radius: 3px 0 0 3px;
    ;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Gallery-CSS */

.gallery {
    line-height: 0;
    column-count: 5;
    column-gap: 5px;
    margin: 25px 0;
}

@media (max-width: 1200px) {
    .gallery {
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    .gallery {
        column-count: 3;
    }
}


@media (max-width: 800px) {
    .gallery {
        column-count: 2;
    }
}


@media (max-width: 400px) {
    .gallery {
        column-count: 1;
    }
}

.gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
    filter: grayscale(100%);
    transition: filter 1.2s, .3s ease-in-out;
    transform: scale(1);
    /* transition: .3s ease-in-out;  */
}

.gallery img:hover {
    filter: none;
    transform: scale(1.02);
    /* z-index: 1; */
}

/* DarkBox-CSS */

.darkBox {
    display: flex;
    width: 1000px;
    /* height: 720px; */
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    overflow: hidden;
    background-color: #333;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.darkBox_img {
    padding: 5%;
    padding-bottom: 1%;
    max-width: 950px;
    max-height: 684px;
}

.btn_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a.img_gDrive {
    background: #ff0000;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    display: inline-block;
    margin-bottom: 14px;
    border-radius: 6px;
    transition: 0.4s;
}

a.img_gDrive:hover {
    background-color: #fd6969;
}

a.img_gDrive#folder {
    margin-bottom: 0;
    position: absolute;
    top: 565px;
}

.darkBox h5 {
    position: absolute;
    top: 4px;
    right: 5px;
    margin: 10px;
    font-size: 3vh;
    padding: 1px;
    cursor: pointer;
}

footer {
    font-size: 12px;
    text-align: center;
    padding: 30px;
    border-top: 1px solid #4d4d4d;
}